#themeForm{
    color:brown
  }
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "Image1 Image2 . form"
      "Image3 Image4 . form";
  }
  .Image1 { grid-area: Image1; }
  .Image2 { grid-area: Image2; }
  .Image3 { grid-area: Image3; }
  .Image4 { grid-area: Image4; }
 .CommentsDetail {grid-area: form;}  

 .theme-img{
    height: 150px;
    width: auto;
    border: solid green 0.5vw;
    /* padding: .25in; */
     margin-top: 5px;
     margin-left: 0px;
     margin-right: 0px;
}
.CommentsDetail {
    text-align: left;
    font-size: small;
}