#themeForm{
    color:brown
  }
  /* .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px 0px;
    grid-template-areas:
     "Image1 Image2 paragraph form"
      "Image3 Image4 paragraph form";
  } */
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr;
    gap: 10px 0px;
    grid-template-areas:
     "Image1 Image2 paragraph "
      "Image3 Image4 paragraph ";
  }
  .Image1 { grid-area: Image1; }
  .Image2 { grid-area: Image2; }
  .Image3 { grid-area: Image3; }
  .Image4 { grid-area: Image4; }
 .CommentsDetail {grid-area: form;}
 .theme-paragraph{grid-area:paragraph;}  

 .theme-img{
    height: 25vh;
    width: auto;
    border: solid green 0.5vw;
    float:left;
    margin-top: 5px;
    margin-left: 5px;
}
.CommentsDetail {
    text-align: left;
    font-size: 75%;
    padding-left: 0.5vw;
    margin-right: 1vw;
   
}
.CommentList{
  background-color: white;
  padding-left:2vh;
  list-style-type: '- ';

}
.enterWord{
  color: brown;
}
.theme-title{
  text-align: left;
  font-size: 150%;
  margin-left:1vw;

}
.theme-paragraph{
  background-color: rgb(255, 123, 0);
  text-align: left;
  margin-right: 4vw;
  margin-left: 0vw;
  padding: 2vw;
  color: white;
  font-size:120% ;
  font-weight: bold;
  border: solid burlywood 0.5vw;
}
@media screen and (max-width: 600px) {
  .grid-container{
     grid-template-areas: 
     "Image1"
      "Image2" 
      "Image3" 
      "Image4" 
      "paragraph" 
      "form";   
}
}