.Maps{
    display: flex;

    justify-content:center;
  
}
.map-img{
    height: 400px;
    width: auto;
    border: solid green 0.5vw;
    /* padding: .1in; */
     margin-top: 5px;
     margin-left: 10px;
     margin-right: 10px;
}
.Location{
    min-height: 500px;
}
.V-Title{
    padding: 30px
}
@media screen and (max-width: 600px) {
    .Maps{  
    flex-direction: column;
    flex-wrap: wrap; 
    }
  }