
.gridContainerHome {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      ". theme1 theme2 ."
      ". theme3 theme4 .";
  }
  .theme1 { grid-area: theme1; }
  .theme2 { grid-area: theme2; }
  .theme3 { grid-area: theme3; }
  .theme4 { grid-area: theme4; }
.Home-Image{
    height: 150px;
    width: 250px;
    border: solid black 0.5vw;
    /* padding: .25in; */
     margin-top: 20px;
     margin-left: 5px;
     margin-right: 5px;
}
main{
  background-color:antiquewhite;
  min-height: 500px;
}
.grid-container h2{
  font-size: medium;
  margin-bottom: 5px;

}