
.gridContainerHome {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "video theme1 theme2 "
      "video theme3 theme4 ";
  }
  .theme1 { grid-area: theme1; }
  .theme2 { grid-area: theme2; }
  .theme3 { grid-area: theme3; }
  .theme4 { grid-area: theme4; }
  .video { grid-area: video; }
.Home-Image{
    height: 200px;
    width: 333px;
    border: solid black 0.5vw;
    /* padding: .25in; */
     margin-top: 20px;
     margin-left: 5px;
     margin-right: 5px;
}
main{
  background-color:antiquewhite;
  min-height: 500px;
  margin-top: 3px;
}
.img-title{
  font-size: 150%;
  margin-bottom: 5px;
}
@media screen and (max-width: 600px) {
  .gridContainerHome{
    gap: 5px 5px;
     grid-template-areas: 
     "video"
     "theme1"
      "theme2" 
      "theme3" 
      "theme4" ;
   }
   .img-title{
    font-size: medium;
    margin-bottom: 2px;
  }
}