.Footer {
    height: 10vh;
    display: flex;
    /* display: inline; */
  
    
    background-color:  green;
    /* text-align: center; */
    font-size: 5pt;
    /* margin-left: -30px; */
    color:cornsilk;
    /* position: fixed; */
    /* width: 100%; */
}

.Footer h1 {
    color:cornsilk;
    padding-top: 2vh;
    text-align: center;
}
.Facebook-logo{
    width: auto;
    height: 8vh;
    margin:1vh;
}
.Footer h2{
    text-align: center;
    float: right;
}