.Footer {
    height: 10vh;
    display: flex;
    /* display: inline; */
  
    
    background-color:  green;
    /* text-align: center; */
    font-size: 5pt;
    /* margin-left: -30px; */
    color:cornsilk;
    /* position: fixed; */
    /* width: 100%; */
}

.Footer  {
    border-top:1px;
    height: 8vh;
    background-color: green;
    margin-top: 1vh;
}
.Facebook-logo{
    width: auto;
    height: 5vh;
    /* margin-left: auto;
    margin-right: auto; */
    padding: 0.5vh 50vw 0.5vh 50vw;
}
.logo-pos{
    display: inline-block;
    text-align: center;
    
}
.footer-copyright {
    /* padding-top:2px;  */
    font-family: Verdana, Geneva, sans-serif;
    font-size: small;
    color: black;
  
}
